{% extends 'base_order.html' %}

{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ShoppingOnline/order/css/order_list_not_receive.css' %}">
{% endblock %}

{% block content %}
    <div id="order_list_not_pay" class="container">

        <ul>
            {% for order in orders %}
                <li>
                    <ul class="order" orderid="{{ order.id }}">
                        <h6>{{ forloop.counter }}、订单编号：{{ order.id }}</h6>

                        {% for ordergoods in order.ordergoods_set.all %}
                            <li class="menuList">
                                <a href="#">
                                    <img src="{{ ordergoods.o_goods.productimg }}" alt="{{ ordergoods.o_goods.productlongname }}">
                                    <p>{{ ordergoods.o_goods.productlongname }}</p>
                                    <p class="presentPrice">{{ ordergoods.o_goods.price }}</p>
                                </a>

                                <section>
                                    <span>{{ ordergoods.o_goods_num }}</span>
                                </section>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
            {% endfor %}

        </ul>

    </div>
{% endblock %}











